<%- include('global/v_meta'); -%>
<%- include('global/v_header'); -%>
<div id="content" class="">
  <h1>Data Process</h1>
  <br />
  <div>
    <button id="advanceBtn" onclick="datagen()">Data Gen</button>
  </div>
  <br />
</div>
<script type="text/javascript" src="/js/process.js"></script>
<script>  
</script>

<%- include('global/v_footer'); -%>