<%- include('global/v_meta'); -%>
<%- include('global/v_header'); -%>
<script>  
    let samples=<%-data-%>
</script>
<div id="content" class="">
  <h1>Data Viewer</h1>
  <br />
  <div id="container">

  </div>
  <br />
</div>
<script type="text/javascript" src="/js/samples.js"></script>
<script>  
</script>

<%- include('global/v_footer'); -%>